{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
{% endblock 'head' %}

{% block 'body' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 d-flex justify-content-center bg-img">
            </div>
            <div class="col-md-10 d-flex justify-content-center bg-color-dark form-auth">
                <div class="container-form">
                    <h1 class="text-logo">Inicie.se</h1>
                    {% if messages %}
                        {% for message in messages %}
                            {{ message.tag }} - {{ message }}
                        {% endfor %}
                    {% endif %}
                    <h1>Cadastre-se</h1>
                    <br>
                    <form action="{% url 'cadastro' %}" method="POST">
                        {% csrf_token %}
                        <label>Nome de Usuário</label>
                        <input type="text" class="form-control input-pers" name="username" placeholder="Digite seu username">
                        <br>
                        <label>Senha</label>
                        <input type="password" class="form-control input-pers" name="senha" placeholder="Digite sua senha">
                        <br>
                        <label>Confirmar senha</label>
                        <input type="password" class="form-control input-pers" name="confirmar_senha" placeholder="Confirme sua senha">
                        <div class="centralizar">
                            <input type="submit" class="btn btn-indigo" value="Cadastrar">
                            <a href="{% url 'logar' %}" class="texto">Já possuo uma conta</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock 'body' %}
